div(class='creators--' + data.type).creators
    .creators__slider
        .creators__swiper.swiper
            .swiper-wrapper
                each i in data.list
                    .swiper-slide.creators__slide.creator
                        .creator__grid
                            .creator__left
                                .creator__about
                                    .creator__cat.creator__txt= i.category
                                    .creator__title.title!= i.title
                                    .creator__name.creator__txt= i.txt
                                    .creator__link
                                        a(href=i.href)
                                            span наши работы
                                            <svg width="36" height="16" viewBox="0 0 36 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M35.7071 8.70711C36.0976 8.31658 36.0976 7.68342 35.7071 7.29289L29.3431 0.928932C28.9526 0.538408 28.3195 0.538408 27.9289 0.928932C27.5384 1.31946 27.5384 1.95262 27.9289 2.34315L33.5858 8L27.9289 13.6569C27.5384 14.0474 27.5384 14.6805 27.9289 15.0711C28.3195 15.4616 28.9526 15.4616 29.3431 15.0711L35.7071 8.70711ZM35 7H0V9H35V7Z" fill="#E4A763"/>
                                            </svg>
                            .creator__right
                                .creator__img
                                    picture
                                        source(srcset=i.img.mobile media='(max-width: 767.98px)')
                                        source(srcset=i.img.desctop media='(max-width: 1279.98px)')
                                        source(srcset=i.img.desctop media='(max-width: 1919.98px)')
                                        img(src=i.img.desctop alt='ковалев николай дмитриевич')

        .creators__nav
            a(href="#").creators__arr.creators__prev
                <svg width="14" height="24" viewBox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13 1L2 12L13 23" stroke="white" stroke-width="2"/>
                </svg>
            a(href="#").creators__arr.creators__next
                <svg width="14" height="24" viewBox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.999998 23L12 12L1 1" stroke="white" stroke-width="2"/>
                </svg>
        .creators__pag